:root{
    --color-primary:#6c63ff;
    --success:#00bf8e;
    --warning:#f7c94b;
    --danger:#f75842;
    --danger-variant:rgba(247, 88, 66, 0.4);
    --white:#fff;
    --light:rgba(255, 255, 255, 0.7);
    --black:#000;
    --bgl:#2e3267;
    --bg:#1f2641;
    --bg2:#424890;

    --container-width-lg:80%;
    --container-width-md:90%;
    --container-width-sm:94%;

    --transition: all 400ms ease;
}

.about-achievements{
    margin-top: 8rem;
}

.achive-contner{
    display: grid;
    grid-template-columns:40% 60%;
    gap: 4rem;
}
.achive-right > p{
    margin: 1.6rem 0 2.5rem;
}
.achive-cards{
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    gap: 1.5rem;;
}
.achiev-card{
    background:var(--bgl);
    padding: 1.6rem;
    border-radius: 1rem;
    text-align: center;
    transition: var(--transition);
}
.achiev-card:hover{
    background: var(--bg2);
    box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.3);
    cursor: pointer;
}
.achive-icon{
    background: var(--danger);
    padding: 0.6rem;
    margin-bottom: 2rem;
    display: inline-block;
    border-radius: 1rem;
    font-size: 2rem;
}

.achiev-card:nth-child(2) .achive-icon{
    background: var(--success);
}
.achiev-card:nth-child(3) .achive-icon{
    background: var(--color-primary);
}
.achiev-card p{
    margin-top: 1rem;
}

.team{
    padding: 3rem;
    margin-top: 4rem;
    background: var(--bgl);
    box-shadow: inset 0 0 3rem rgba(0, 0, 0, 0.3);
    margin-bottom: 4rem;
}
.team-continer{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}
.team-member{
    background: var(--bg2);
    padding: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
    position: relative;
    overflow: hidden;
    border-radius: 1rem;
}
.team-member:hover{
    background: transparent;
    border-color: var(--color-primary);
    cursor: pointer;
}
.team-m-img img{
    filter: saturate(0);
}
.team-member:hover img{
    filter: saturate(1);
}
.tean-m-info *{
    text-align: center;
    margin-top: 1.5rem;
}
.tean-m-info p{
    color: var(--light);
}

.team-socils{
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    right: -80%;
    display: flex;
    flex-direction: column;
    background: var(--color-primary);
    border-radius:1rem 0 0 1rem;
    box-shadow: -2rem 0 2rem rgba(0, 0, 0, 0.3);
    transition: var(--transition);
}
.team-socils a{
    padding: 1rem;
}

.team-member:hover .team-socils{
    right: 0;
}
.team-socils a:hover{
    color: #00bf8e;
    transition: var(--transition);
}
.team h2{
    text-transform: capitalize;
    font-weight: 500;
    font-size: 25px;
}
.tean-m-info h4{
    text-transform:uppercase;
}



/************** start of media queries  ***********/

@media only screen and (max-width:1024px) {
    .achive-contner{
        display: grid;
        grid-template-columns: 1fr;
    }
    .achive-contner .achive-left{
        width: 80%;
    }  
}



@media only screen and (max-width:810px) {
    .team-continer{
        grid-template-columns: repeat(3, 1fr);
    }
    .tean-m-info h4{
        text-transform:uppercase;
        font-size: 15px;
        font-weight: 400;
    }
}

@media only screen and (max-width:412px) {
    .achive-right h1{
        font-size: 25px;
        font-weight: 400;
    }
    .achive-cards{
        grid-template-columns: 1fr;
    }
    .team-continer{
        grid-template-columns: 1fr;
    }  
}

@media only screen and (max-width:414px) {
    .achive-cards{
        grid-template-columns: 1fr;
    }
    .team-continer{
        grid-template-columns: 1fr;
    } 
}
@media only screen and (max-width:414px) {
    .achive-cards{
        grid-template-columns: 1fr;
    }
    .team-continer{
        grid-template-columns: 1fr;
    } 
}
@media only screen and (max-width:430px) {
    .achive-cards{
        grid-template-columns: 1fr;
    }
    .team-continer{
        grid-template-columns: 1fr;
    } 
}